# This file is the template for the .env file. You should copy this file to .env and fill in the values.

# =========
# port
# This is the port that the server will listen on.
PORT=8000

# =========
# database
# This is the database connection string. It should be in the format:
#   postgresql://username:password@host:port/database
DATABASE_URL=postgres://postgres:@localhost:5432/kompagnon